
#home{
    width: 100%;
    .myhome-bg{
        position: relative;
        height: 500px;
        width: 100%;
        background-image: url(../images/tomatoes.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        .container{
            .home-g-content{
                text-align: center;
                padding: 10% 0 0 0;
                h1{
                    text-align: center;
                    color: #ffffff;
                    margin-bottom: 15px;
                }
                a{
                    display: inline-block;
                    background-color: rgb(173, 6, 6);
                    padding: 5px 30px;
                    color: #ffffff;
                    border-radius: 20px;
                    font-size: 1.3vw;
                    &:hover{
                        text-decoration: none;
                        color: rgb(1, 34, 1);
                        border: 1px solid rgb(1, 34, 1)
                    }
                }
            }
        }
    }
}
#about{
    .container{
        .about-g-content{
            h1{
                color: rgb(1, 34, 1);
                text-align: center;
            }
            p{
                font-size: 1.3vw;
                color: #000000;
            }
        }
    }
}
footer{
    background-color: rgb(1, 34, 1);
    padding: 15px;

    .contact-details{
        display: inline-block;
        width: 45%;
        color: white;
        vertical-align: top;
        h2{
            font-size: 1.8vw;
            color: rgb(173, 6, 6);
            font-weight: bold;
        }
        p{
            color: #ffffff;
            font-size: 1.5vw;

        }
    }
    .contact-form{
        display: inline-block;
        width: 50%;
        color: white;
        padding: 15px;
        box-shadow: 2px 2px 5px white;
        vertical-align: top;
        form{
            label{
                color: rgb(173, 6, 6);
                font-size: 1.8vw;
                font-weight: bold;
            }
            input[type=text], input[type=email], textarea{
                width: 100%;
                border-color: rgb(173, 6, 6);
                padding: 5px;
                border-radius: 8px;
                background-color: transparent;
                color: #ffffff;
                &::placeholder{
                    color: #ffffff;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
    hr{
        background-color: #ffffff;
    }
    .copyright-info{
        p{
            width: 20%;
            display: inline-block;
            color: #ffffff;
            font-size: 1.1vw;
            text-align: right;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

}
