{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}

    <div class="section" id="home">
        <div class="myhome-bg">
            <div class="container">
                <div class="home-g-content">
                    <h1>Are you a farmer? Get 120%+ yield by using Smart Agriculture!</h1>
                    <a href="#">Sign In</a>
                    <a href="#">Log In</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>>
        </div>
    </div>
    <div class="section" id="about">
        <div class="container">
            <div class="about-g-content">
                <h1>Why Smart Agriculture?</h1>
                <p>Soil fertility is the ability of soil to sustain plant growth and optimize crop yield. The soil is considered infertile if there is deficiency or overdose of nutrients available for plant growth. Both less and over- fertilization can lead to sudden plant growth with an insufficient root system to supply adequate water and nutrients to the plant. Poor root structure reduces the number of flowers and fruit production, and can result in plant growth spurts that won't be supported or sustained. This reduces crop yield and hence the need to monitor and control the nutrients available for plant growth</p>
                <h1>How will Smart Agriculture help you?</h1>
                <p>SA will enable farmers to measure nutrients on their soil/hydroponics solutions before taking any action and help farmers know the right time to apply different fertilizers to ensure great yields. Farmers will also be able to monitor and control these nutrients remotely via mobile phones or PC systems.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="contact-details">
                <h2>Phone: </h2>
                <p>+263778816360</p>
                <p>+263714268634</p>
                <h2>E-mail: </h2>
                <p>n0188568d@students.nust.ac.zw</p>
                <h2>Address: </h2>
                <p>4A Bouchier Wray Ave, Hillside, Bulawayo</p>
            </div>
            <div class="contact-form">
                <form action="">
                    <label for="name">Name: </label>
                    <input type="text" placeholder="Enter your name">
                    <label for="email">E-mail: </label>
                    <input type="email" placeholder="e.g yournama@gmail.com">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="2" placeholder="Your message"></textarea>
                </form>
            </div>
            <hr>
            <div class="copyright-info">
                <p>Copyright@SA 2023</p>
                <p>Privacy</p>
                <p>FAQ</p>
                <p>Terms</p>
            </div>
        </div>
    </footer>

{% endblock %}